
h1{
    font-size: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: bisque;
}
button{
    border-radius: 50px;
    background-color: rgb(233, 232, 227);
    width:150px;
    height:5vh;
    font-size: 25px;
    color: antiquewhite;	
    background: linear-gradient(rgba(7, 36, 70, 0.8), rgba(231, 228, 228, 0.2));
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;	
    animation: glow1 2s ease-in-out infinite;
    margin-top: 10%;
}

 .landingpage{
    display: flex;
    flex-direction: row;
} 


body{
background-repeat: no-repeat;
background-size:cover;
background-image:-webkit-linear-gradient(rgb(6, 6, 43),rgb(17, 113, 138));
height: 100;
background-image: url(images/bitcoin.png);

}
.gold{
    height: 100vh;
}
.welcome{
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 5%;
    


}
h2{
    color: antiquewhite;
    font-size:25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}






